body {
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 4fr;
}

/* SIDEBAR */

.sidebar {
    background-color: rgb(97, 147, 255);
    padding: 12px;
    grid-row: 1 / 3;

    display: grid;
    grid-template-columns: 50px auto;
    grid-auto-rows: min-content;
    gap: 30px 10px;
    align-items: center;
    color: white;
}

.sidebar span {
    justify-self: center;
}

.sidebar .material-symbols-outlined {
  font-variation-settings:'FILL' 1
}

#db-icon {
    font-size: 50px;
}

.sidebar * {
    margin: 0;
}

/* HEADER */

.header {
    background-color: white;
    position: relative;  /* otherwise shadow will be covered */
    z-index: 2;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.219);
    padding: 15px 50px;
    grid-row: 1;
    grid-column: 2;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 8px;
    align-items: center;
}

.header > * {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header .material-symbols-outlined {
    font-size: 30px;
}

input[type="search"] {
    flex: 1;
    background-color: rgb(230, 230, 230);
    border-radius: 50px;
    padding: 5px 10px;
    border-style: none;
    outline: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.pro-small {
    justify-self: end;
    gap: 20px;
}

.header p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.pro-big {
    gap: 20px;
}

.pro-big img {
    width: 80px;
}

.pro-big p {
    font-size: 25px;
}

.pro-big span {
    font-size: 15px;
}

.buttons {
    justify-content: flex-end;
    gap: 16px;
}

.header button {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgb(97, 147, 255);
    border-radius: 50px;
    padding: 10px 30px;
    border: none;
}

/* MAIN CONTENT */

.main-content { 
    padding: 20px;
    background-color: rgb(230, 230, 230);

    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: auto 1fr;
    gap: 30px;
    overflow: auto;
}

.projects-big {
    grid-row: 1 / 3;
}

.projects {
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 30px;
}

.card {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    border-left: 10px solid orange;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.219);
}

.card p {
    color: gray;
}

.card-buttons {
    display: flex;
    justify-content: end;
    gap: 15px;
}


.main-side {

}


.announcements {
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.219);
    border-radius: 10px;
    padding: 30px;
}
.announcements h3, .announcements p {
    margin: 0px;
}
.announcements p {
    color: gray;
}
.announcement-card + .announcement-card {
    padding-top: 15px;
    border-top: 1px solid lightgray;
}
.announcement-card:not(:last-child){
    padding-bottom: 15px;
}


.trending {
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.219);
    border-radius: 10px;
    padding: 25px;

    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 15px;
}
